<!DOCTYPE html>
{% load static %}
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome</title>
    <!-- <link rel="stylesheet" href="css/style.css"> -->
    <link rel="stylesheet"  href="{% static "css/style.css" %}" >
  </head>
  <body>
    <div class="home">
      <h2 class="homeheading">welcome to Quiz Test </h2>
      <h4 class="homehead">select the subject</h4>
      <a class="socialquiz" href="main/">socialQuiz</a>
      <a class="socialquiz" href="quiz2/">MathsQuiz</a>
    </div>

  </body>
</html>
